<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.foodukate.foodukate" >

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- [START gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission
        android:name="com.app.foodukate.foodukate.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.app.foodukate.foodukate.permission.C2D_MESSAGE" />
    <!-- [END gcm_permission] -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_build_profile" >
        </activity>
        <activity
            android:name="com.app.foodukate.user.UpdateProfile"
            android:label="@string/title_activity_update_profile" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/main_activity"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.SEARCH" />

            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="com.app.foodukate.recipe.RecipeDetailActivity"
            android:label="@string/title_activity_recipe_detail" >
        </activity>
        <activity
            android:name="com.app.foodukate.menu_scanner.ScannedListActivity"
            android:label="@string/title_activity_scanned_list" >
        </activity>
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.app.foodukate.recipe.AddRecipeActivity"
            android:label="@string/title_activity_add_recipe"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name="com.app.foodukate.restaurant.RestaurantListActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.app.foodukate.foodukate" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".MyInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".RegistrationIntentService"
            android:exported="false" >
        </service>
    </application>

</manifest>
